:root {
  --primary-color: #293241;
  --primary-green: #52b69a;
  --secondary-green: #76c893;
}

body {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}

.btn {
  padding: 15px 45px;
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
  border-radius: 0.5em;
  margin-top: 2em;
  background-color: transparent;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-green);
  color: #000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  color: #000;
  background-color: var(--primary-green);
  padding: 20px;
  border-radius: 0.5em;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  color: #000;
}

.box {
    background-color: blue;
    width: 500px;
    height: 113px;
}
